<%- include('./partials/header.ejs') -%>

<!-- Main Starts from here -->
<main class="grid">
<% foodData.forEach((food)=>{ %>
    <article>
        <img src=<%= food.foodImage %> alt=<%= food.foodName %>>
        <div class="text">
          <h3><%= food.foodName %></h3>
          <p><%= food.foodDes %></p>
          <a href=<%= "/food/"+food.foodId %>><button>Check Availablity</button></a>
        </div>
      </article>
<% }); %>

</main>

    
  



<%- include('./partials/footer.ejs') -%>