<%- include('./partials/header.ejs') -%>

<% /* %>
    <% shopData.forEach(shop => { %>
    <h1> <%= shop.shopDetails.shopName %> (Rating : <%= shop.reviews %>) </h1>
    <h2> <%= shop.shopDetails.contactDetails.shopProfile %> </h2>
    <ul>
        <% shop.foodAvailable.forEach(food =>{ %>
            <li><%= food.foodId+". "+food.foodName+", Price : Rs."+food.foodPrice %></li>
        <% }) %>
    </ul>   
<% }); %> 
<% */ %>


<!-- Main Starts from here -->
<main class="grid">
<% foodData.forEach((food)=>{ %>
    <article>
        <img src=<%= food.foodImage %> alt=<%= food.foodName %>>
        <div class="text">
          <h3><%= food.foodName %></h3>
          <p><%= food.foodDes %></p>
          <a href=<%= "/food/"+food.foodId %>><button>Check Availablity</button></a>
        </div>
      </article>
<% }); %>
</main>

    
  



<%- include('./partials/footer.ejs') -%>